<header class="site-header">
    <a href="/index.html" class="site-logo">djfox11.com</a>

    <nav class="nav" aria-label="Main navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About Me</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/tutorials/">Tutorials</a></li>
            <li><a href="/tmr/">The Models Resource</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</header>